
*.sqlite3
/homepage/__pycache__
/homepage/migrations/__pycache__
/media
/temp
/smartlabel/__pycache__
/smartlabel/apps/algorithm/fixmatch/models/__pycache__
/labelpage/__pycache__
/labelpage/migrations/__pycache__
/static/plugins/bootstrap-3.4.1
/createProject/__pycache__
/createProject/migrations/__pycache__
/fileCenter/__pycache__
/fileCenter/migrations/__pycache__
/manageProject/__pycache__
/manageProject/migrations/__pycache__
/more/__pycache__
/projectDetail/__pycache__
/projectDetail/migrations/__pycache__
/more/migrations/__pycache__
/welcome/__pycache__
/userLogin/__pycache__
/.idea
*.pyc
*.rdb
/smartlabel/apps/auto_labeling/migrations
/smartlabel/apps/data_management/migrations
/smartlabel/apps/users/migrations
/smartlabel.log
smartlabel/apps/utils/__init__.py
smartlabel.log
smartlabel/apps/algorithm/img_classfication/data/custom/images
smartlabel.log
/collected_static
/smartlabel/apps/algorithm/text_classification/data_zh
